
#toggle-time button {
  background-color: #000066; /* Green background */
  border: 1px solid blue; /* Green border */
  color: white; /* White text */
  padding: 8px 20px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  /* float: left; /* Float the buttons side by side */ */
}

/* #toggle-time button:not(:last-child) {
  border-right: none; /* Prevent double borders
}*/

/* Clear floats (clearfix hack) */
/* #toggle-time:after {
  content: "";
  clear: both;
  display: table;
} */

/* Add a background color on hover */
#toggle-time button:hover {
  background-color: #0000cc;
}


#buy-sell-btns button{
  background-color: #0000cc;
  border: 1px solid blue; /* Green border */
  color: white; /* White text */
  padding: 8px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  /* float: left; /* Float the buttons side by side */ */
}

.btn-group button{
  float:left;
  margin: 0 5px;
  width: 23%;
}

#cash {
  padding: 10px auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.cash-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.cash-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table  {
   width: 100%;
   padding-left: 2px;
   padding-right: 2px;
   text-align: center;
}

#chart {
  width: 100%;
}

#cash {
  display: inline-block;
  float:left;
}

.header {
  display:flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.logo {
  /* padding: 10px 20px; */
  margin: auto 0;
}

h2 {
  margin: 0;
}

.nav-items {
  display:flex;
  justify-content: space-around;
  margin: 10px 20px;
}

.nav {
  margin: auto 30px;
}

#outer-container {
	display: table;
	width: 100%;
	height: 100%;
}

#newsbar {
	display: table-cell;
	width: 30%;
  overflow-y: scroll; /*makes sidebar scrollable*/
	vertical-align: top;
  top:0; /*makes sidebar scrollable*/
  bottom:0; /*makes sidebar scrollable*/
  position:fixed; /*makes sidebar scrollable*/
  /* Set the top and bottom to 0, so that the sidebar is exactly the same height as the viewport */
}

#content {
	display: table-cell;
	width: 70%;
	vertical-align: top;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

#user-login, #login, #insert-ticker{ /*so that input bars are aligned with the header*/
  margin:auto;
}
